.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.InputElement{
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    background: #fff;
    font: inherit;
    padding: 6px 10px;
    box-sizing: border-box;
    resize: none;
}

.InputElement:focus {
    outline: none;
    background: #ccc;
}

.Invalid {
    border-color: red;
    background: salmon;
}
